.user-image {
    border-radius: 50%;
}

.caja {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    text-align: left;
    font-size: 30px;
}

.caja img {
    border: 5px solid yellow;
}
